<div class="row ContenidoMain grey darken-3 white-text" style="height: auto;">
	<div class="col s12 m4 l4 valign-wrapper center-align" style="height: 100px;">
		<div class="center-align" style="width: 100%">
			 ©2018 Duverney Ortiz Alvarado. <br>
           	 Todos los Derechos Reservados.
		</div>		
	</div>

	<div class="col s12 m4 l4 valign-wrapper" style="height: 100px;">
		<div class="center-align" style="width: 100%">Términos y Condiciones</div>		
	</div>
	<div class="col s12 m4 l4 valign-wrapper center-align" style="height: 100px;">
		<div class="center-align" style="width: 100%">
			3144593878 <br>
            Yopal, Casanare, Colombia
		</div>
	</div>
</div>