<div class="row" style="padding-bottom: 5px;">
	{{#each menuFiltros}}
		<div class="{{class}}" >
			<div class="{{btn}}" style="width: 100%; height: auto!important" onclick="{{On}}">
				{{Opcion}}
			</div>
		
		</div>
	{{/each}}
	
</div>