<div class="row">	
	  <div class="input-field col s12 m6 l6">
	    <select>
	      <option value="" disabled selected>Selecione Material</option>
	      <option value="1">Todos los Materiales</option>
	      <option value="1">Material 1</option>
	      <option value="2">Material 2</option>
	      <option value="3">Material 3</option>
	    </select>
	    <label class="labelSelec">Material</label>
	  </div>
	  <div class="input-field col s12 m6 l6">
	    <select>
	      <option value="" disabled selected>Selecione Marca</option>
	      <option value="1">Todas las marcas</option>
	      <option value="1">Marca 1</option>
	      <option value="2">Marca 2</option>
	      <option value="3">Marca 3</option>
	    </select>
	    <label class="labelSelec">Marca</label>
	  </div>	  
</div>
<div class="row">
	<div class="col s3">
		<p>Rango de Precios:</p>
	</div>
	<div class="col s3 m2 l2"><input type="number" name="sliderMin" class="inputSlider center" value="0"></div>
	<div class="col s3 m2 l2"><div class="filterSliders"></div></div>
	<div class="col s3 m2 l2 value1"><input type="number" name="sliderMax" class="inputSlider center" value="1000000"></div>

	<div class="col s12 m3 l3 center-align">
		<a class="btn btn-primary grey darken-2" style="margin-bottom: 5px;">Buscar</a>
	</div>
</div>

