<div class="row">
	<div class="col s12">
		<p>Agregar Competidor</p>
	</div>

	<div class="col s12 m6 l6 row">
		<div class="input-field">
			<input class="validate" type="text" id="CompetidorName" name="CompetidorName">
			<label for="competidorName">Nombre del competidor</label>
		</div>
	</div>

	<div class="col s12 m6 l6 row">
		<div class="input-field">
			<input type="text" id="CompetidorName" name="CompetidorName">
			<label for="competidorName">URL</label>
		</div>	
	</div>

	<div class="col s12 m6 l6 row">
		<div class="input-field">
			<input type="text" id="CompetidorName" name="CompetidorName">
			<label for="competidorName">Ventas Anuales</label>
		</div>	
	</div>

	<div class="col s12 m6 l6 row">
		<div class="input-field">
			<input type="text" id="CompetidorName" name="CompetidorName">
			<label for="competidorName">Costos Anuales</label>
		</div>		
	</div>

	<div class="col s12 row center-align">
		<a href="#" class="btn btn-rpimary grey darken-2">Registrar</a>
	</div>



</div>