<table class="bordered responsive-table">
	<thead>				
		<th>Proveedor</th>
		<th>Material</th>
		<th>Marca</th>
		<th>Precio</th>				
	</thead>
	<tbody>
		{{#each ProveedoresItem}}
			<tr>						
				<td>{{Proveedor}}</td>
				<td>{{Material}}</td>
				<td>{{Marca}}</td>
				<td>{{Precio}}</td>										
			</tr>
		{{/each}}
	</tbody>
</table>	